DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@localhost:5432/${DB_NAME}?schema=public"


DB_USER=
DB_PASSWORD=
DB_NAME=

NODE_ENV=development
PORT=3000


JWT_SECRET=

GRAFANA_USER=
GRAFANA_PASSWORD=
GRAFANA_ADMIN_PASSWORD=


AWS_S3_BUCKET=
OUTPUT_FILE_NAME=output.zip